footer{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    height: 5vh;
    background-color: #576ca8;
    border-top: 2px solid;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    background-image: url("https://www.transparenttextures.com/patterns/gray-lines.png");




}